{% extends 'layout.html' %}



{% block main %}
<head>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<br>
<br>

<div class="content">
  <form id="query" method="POST" action="#">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value=""><br><br>
    <label for="eMail">Email</label>
    <input type="text" name="eMail" id="eMail" value=""><br><br>
    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone" value=""><br><br>
    <label for="query">Query</label>
    <input type="textarea" name="query" id="query" value=""><br><br>
    <input type="submit" value="Enquire">
  </form>
</div>
</body>
<script src="js/newQuery.js" type="application/javascript"></script>
<!-- Include javascripts here -->
</center>

{% endblock %}