{% extends 'layout.html' %}
 <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="newQuery.html">Current Game</a></li>
                    <li class="active"><a href="oldQueries.html">oldQueries History</a></li>               
                </ul>
</div>
{% block oldQueries %}
 <div id="content">
 
     <br><br><br>
   <center>
        <table id="tab" border="1" class="table">
            <col width="130">
            <col width="130">
            <col width="130">
            <col width="400">
            <col width="130">
            <col width="130">
            <col width="130">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Query</th>
            <th>X</th>
            <th>Y</th>
            <th>Z</th>
        </tr>
       </table>
    </center>
 </div>
<script src="js/oldQueries.js" type="application/javascript"></script>
{% endblock %}
